body {
	font-size: 16px; 
	color: #fff; 
	background-color: #61122f; 
}

/** HEADER **/
#header-nav {
	background-color: #f6b319; 
	border-radius: 0; 
	border: 1px black solid; 
}

.navbar-brand {
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-nav > li > #chicken {
	margin-top: -10px;
}

.navbar-nav > li > #sushi {
	margin-bottom: -7.5px;
}

.navbar {
	border: none;
}

#collapsable-nav {
	border-color: black; 
	position: relative; 
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #951C49;
 	text-align: center;
 	background-color: white;
}

#nav-list a:hover {
	background: #E7E7E7;
}

#chicken {
	border-width: 0px 1px 1px 1px; 
	border-style: solid; 
	border-color: black;
}

#beef {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: black;
}

#sushi {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: black;
}

/** CONTENT **/
.row {
	margin-left: 0px;
	margin-right: 0px;
}
#description {
	background-color: green;
	height: 1000px;   
}

.container h1 {
	margin-top: 0px;
	margin-bottom: 20px;
}